.resetbtn {
  display: flex;
  justify-content: center;
  &__btn {
    border-radius: 10px;
    color: white;
    background-color: #3182ce;
    margin-top: 23px;
    width: 80px;
    height: 40px;
    font-size: 12px;
    font-weight: bold;
    &:hover {
      background-color: #2b6cb0;
      font-weight: bold;
    }
  }
}
